<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body layout:fragment="content">
<style type="text/css">
</style>
<div class="row d-flex justify-content-center">
    <div class="col-6 m-5">
        <div class="row mt-2">
            <div class="col-12 text-danger fw-bold">
                [[${error_message}]]
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>